* {
  font-family: 'Inter', sans-serif;
  
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #282D35;

}

.App {
  height: 100%;
}

.navbar {
  background-color: #21222A;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .navbar-left {
  color: #61DAFB;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.navbar .navbar-right {
  color: #DEEBF8;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}

.navbar .logo {
  width: 29px;
  height: 29px;
  margin-right: 15px;
}

.navbar .logo-box {
  object-fit: cover;
}

.main {
  padding: 20px;
}

.header {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.list {
  font-weight: 400px;
  color: white;
  list-style-position: outside;
  max-width: 400px;
}

.list > li {
  font-size: 16px;
  padding-bottom: 20px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #61DAFB; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 16px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}